@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Lato", sans-serif;
}
/* #root {
  position: relative;
} */
#root > .last-child {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 5, 4, 0.4);
  z-index: 5;
  left: 0px;
  right: 0px;
}
.dropdown {
  position: absolute;
  background-color: white;
  z-index: 7;
  top: 60px;
  right: 20px;
  border-radius: 6px;
  padding: 7px 0 15px;
}
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown li {
  padding: 10px 27px;
  text-align: center;
}
.dropdown .home {
  position: relative;
}
.home div {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  left: 20px;
  top: 15px;
  background-color: #fbc500;
}
.dropdown button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btn {
  background-color: #fbc500;
  border-radius: 8px;
  padding: 14px 32px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 60px;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 22px;
  padding: 0;
}
header ul a {
  color: #5d5d5d;
  text-decoration: none;
  font-weight: 500;
  line-height: 19.2px;
}
header ul a:hover {
  color: black;
}
.section-containers {
  margin: 100px 0 80px;
  padding: 0 40px;
}
.hero-section h1,
.menu-container h1 {
  font-size: 40px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
.blur-bg {
  position: absolute;
  inset: 0 0 3px 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 15px;
}
.hero-section h1 {
  font-family: "Karla", sans-serif;
  font-size: 48px;
  line-height: 56.11px;
  max-width: 1084px;
  padding: 10px;
}
.hero-section p {
  max-width: 733px;
  margin: 5px auto 15px;
  text-align: center;
  font-size: 24px;
  line-height: 28.8px;
  padding: 10px;
  font-weight: 600;
  color: #8c8c8b;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.hero-section span,
.menu-container h1 span {
  color: #fbc500;
}
.get-started {
  position: relative;
}
.get-started img {
  width: 100%;
  max-height: 361px;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.get-started-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 22px;
  z-index: 5;
}
.watch-demo {
  border-radius: 8px;
  padding: 14px 32px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
}
.why-digidish-container {
  margin: 130px 0;
}
.why-digidish-container h1,
.our-features-container h1,
.procedures-container > h1 {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.why-digidish {
  position: relative;
  background-color: #4b3b00;
  color: white;
  margin: 150px 0 0;
  padding: 220px 50px 80px;
  border-radius: 22px;
}
.digidish-cards {
  position: absolute;
  top: -80px;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  max-width: 93%;
  width: 100%;
  transform: translateX(-50%);
}
.digidish-card {
  color: #4b3b00;
  background-color: #fde280;
  padding: 36px 30px;
  padding: 53px 14px 36px 23px;
  border-radius: 12px;
}
/* p {
  line-height: 19.2px;
} */
.digidish-card p {
  margin: 8px 0;
}
.digidish-card .title {
  display: flex;
  align-items: center;
  gap: 4px;
}
.digidish-card .title img {
  width: 25px;
}
.title h3 {
  font-weight: 900;
  font-size: 16px;
  line-height: 19.2px;
  width: 100%;
}
.menu-solution {
  max-width: 40%;
  text-align: center;
}
.why-digidish > p {
  justify-content: center;
  display: flex;
  max-width: 685px;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.why-digidish .menu-solution {
  position: absolute;
  right: 90px;
  top: 185px;
}
.our-features-container {
  margin-top: 150px;
}
.our-features {
  position: relative;
  background-color: #4b3b00;
  padding: 50px 50px 45px;
  border-radius: 20px;
}
.our-features .features-img {
  display: flex;
  justify-content: end;
}
.features-img img {
  border-radius: 12px;
}
.our-features-container h1 {
  margin-bottom: 50px;
}
.features-img img {
  width: 100%;
  max-width: 405px;
  height: 407px;
}
.features-cards {
  position: absolute;
  top: 65px;
}
.features-card {
  background-color: #fde280;
  width: 50%;
  padding: 31px 34px;
}
.features-card p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.features-card:not(:last-child) {
  border-bottom: 2px solid #4b3b00;
}
.features-card:first-child {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
.features-card:last-child {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
.features-card p span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-right: 4px;
}
.procedures-container {
  margin-top: 260px;
}
.procedures-container h1 {
  margin-bottom: 70px;
}
.procedure-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.procedure-card {
  display: flex;
  align-items: center;
  pdding: 20px;
  gap: 20px;
}
.procedure-card .text {
  border-left: 2px solid #fbc500;
  padding-left: 15px;
  height: 95%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.procedure-card .img {
  background-color: #fef3cc;
  border-radius: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-mobile {
  display: none;
}
.procedures-container img {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-eight: 300px;
}
.procedure-card h1 {
  margin: 0;
}
.text h1 {
  font-size: 40px;
}
.procedure-card .h1 {
  margin: 15px 0 5px;
  font-size: 32px;
}
.procedure-card p {
  margin: 0;
}
.menu-container {
  margin-top: 110px;
}
.menu-container p {
  max-width: 1154px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  color: #322700;
}
.menu-container h1 {
  font-family: "Karla", sans-serif;
  font-size: 48px;
  line-height: 56.11px;
  max-width: 1084px;
  padding: 10px;
}
.menu-container .btn,
.contact-us button {
  padding: 19px 80px;
}
.contact-us {
  margin: 100px 0 0;
}
.menu-container button,
.contact-us button {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.contact-us h1 {
  margin: 0;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.contact-us p {
  margin: 15px 0 40px;
  text-align: center;
  font-size: 17px;
}
.contact-us form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  row-gap: 35px;
}
.contact-us label {
  position: relative;
  border: 1px solid black;
  padding: 15px;
  border-radius: 6px;
}
.contact-us input {
  width: 100%;
  border: none;
  outline: none;
}
.contact-us span {
  position: absolute;
  top: -11px;
  background-color: white;
  padding: 0 4px 0;
}
.contact-us button {
  margin: 40px auto;
}
.gap {
  width: 100%;
}
.footer {
  background-color: #4b3b00;
  color: white;
  margin: 30px 0 0;
}
.footer .social-media {
  display: flex;
}
.social-media span:first-child {
  margin-left: -7px;
}
.social-media span:not(:first-child) {
  margin-left: -17px;
}
.footer .social-media span {
  cursor: pointer;
}
.footer > div {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}
.footer > div > :first-child {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer .links {
  display: flex;
  justify-content: space-between;
  gap: 85px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  margin: 0 0 0 -25px;
}
.contact-info,
.quick-link {
  font-weight: 400;
  line-height: 38.33px;
}
.links li {
  line-height: 42px;
}
.footer .copyright {
  border-top: 1px solid white;
  font-size: 12px;
}
.copyright p {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1250px) {
  .features-img img {
    width: 100%;
    max-width: 450px;
    height: 400px;
  }
  .features-card {
    background-color: #fde280;
    width: 55%;
    padding: 30px;
  }
  .digidish-card {
    padding: 36px 30px;
  }
}
@media (max-width: 1230px) {
  .why-digidish > p {
    max-width: 570px;
    font-size: 30px;
  }
  .features-card {
    background-color: #fde280;
    width: 49%;
    padding: 30px;
  }
  .features-img img {
    width: 100%;
    max-width: 425px;
    height: 400px;
  }
}
@media (max-width: 1150px) {
  .why-digidish > p {
    max-width: 530px;
    font-size: 25px;
  }
  .why-digidish .menu-solution {
    right: 90px;
    top: 175px;
  }
  .features-img img {
    width: 100%;
    max-width: 380px;
    height: 400px;
  }
  .features-card {
    background-color: #fde280;
    width: 45%;
    padding: 30px;
  }
}
@media (max-width: 1050px) {
  .features-img img {
    width: 100%;
    max-width: 360px;
    height: 400px;
  }
  .features-card {
    background-color: #fde280;
    width: 42%;
    padding: 30px;
  }
}
@media (max-width: 956px) {
  .why-digidish > p {
    max-width: 500px;
    font-size: 23px;
  }
  .features-img img {
    width: 100%;
    max-width: 335px;
    height: 400px;
  }
  .features-card {
    background-color: #fde280;
    width: 39%;
    padding: 30px;
  }
}
@media (max-width: 850px) {
  .why-digidish {
    padding: 40px 50px 340px;
    margin: 0;
  }
  .digidish-cards {
    grid-template-columns: 1fr;
    max-width: 100%;
    width: 90%;
    top: 340px;
  }
  .why-digidish > p {
    margin: 0 auto;
  }
  .why-digidish .menu-solution {
    position: absolute;
    top: 120px;
    left: 45%;
    transform: translateX(-50%);
  }
  .our-features-container {
    margin-top: 630px;
  }
  .our-features {
    padding: 40px 25px 210px;
  }
  .features-cards {
    top: 500px;
    left: 50%;
    max-width: 90%;
    width: 100%;
    transform: translateX(-50%);
  }
  .features-card {
    width: fit-content;
  }
  .our-features .features-img {
    width: 100%;
  }
  .features-img img {
    max-width: 100%;
    width: 100%;
  }
  .procedures-container {
    margin-top: 500px;
  }
  .footer .links {
    gap: 30px;
  }
}
@media (max-width: 800px) {
  .hero-section h1,
  .menu-container h1 {
    font-size: 40px;
    line-height: 50.11px;
  }
  .hero-section p {
    font-size: 22px;
  }
  .why-digidish {
    padding: 40px 50px 380px;
  }
  .digidish-cards {
    top: 400px;
  }
  .why-digidish-container h1,
  .our-features-container h1,
  .procedures-container > h1 {
    font-size: 35px;
  }
  .text h1 {
    font-size: 25px;
  }
  .procedure-card .h1 {
    font-size: 27px;
  }
  .menu-container p {
    font-size: 20px;
  }
  .links h1 {
    font-size: 20px;
  }
  .footer .copyright {
    padding: 20px 0;
  }
}
@media (max-width: 730px) {
  .header ul {
    display: none;
  }
  .header > button:last-child {
    display: none;
  }
  .header .desktop {
    display: block;
  }
  .header > div.mobile {
    display: block;
  }
  .header > img.mobile {
    display: none;
  }
  .footer .desktop {
    display: none;
  }
  .footer .mobile {
    display: block;
  }
  .footer > div {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .procedure-cards {
    grid-template-columns: 1fr;
  }
  .why-digidish .menu-solution {
    position: absolute;
    top: 120px;
    left: 35%;
    transform: translateX(-50%);
  }
  .btn {
    padding: 9px 26px;
  }
  .watch-demo {
    padding: 9px 26px;
  }
}
@media (max-width: 475px) {
  .header {
    padding: 20px;
  }
  .header ul {
    display: none;
  }
  .header > button:last-child {
    display: none;
  }
  .section-containers {
    padding: 0 20px;
    margin: 120px 0;
  }
  .why-digidish-container {
    margin: 160px 0;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .hero-section h1 {
    max-width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.06px;
    margin: 45px 0 0px;
    padding: 0;
  }
  .hero-section p {
    max-width: 100%;
    font-size: 12px;
    line-height: 14.4px;
  }
  .get-started-container {
    gap: 15px;
    width: 100%;
    justify-content: center;
  }
  .why-digidish-container h1 {
    font-size: 20px;
  }
  .why-digidish {
    padding: 40px 25px 280px;
    margin: 40px 0 0;
  }
  .digidish-cards {
    grid-template-columns: 1fr;
    /* max-width: 100%;*/
    top: 275px;
    left: 50%;
    max-width: 90%;
    width: 100%;
    transform: translateX(-50%);
  }
  .why-digidish .menu-solution {
    position: absolute;
    top: 90px;
    max-width: 100%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  .digidish-card .title {
    gap: 6px;
  }
  .digidish-card .title img {
    width: 25px;
  }
  .why-digidish > p {
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 600;
  }
  .why-digidish-container h1,
  .our-features-container h1,
  .procedures-container > h1 {
    font-size: 20px;
  }
  .our-features-container {
    margin-top: 720px;
  }
  .our-features-container h1 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .our-features {
    padding: 40px 25px 210px;
  }
  .our-features .features-img {
    width: 100%;
  }
  .features-img img {
    height: 300px;
  }
  .features-cards {
    top: 360px;
    left: 50%;
    max-width: 90%;
    width: 100%;
    transform: translateX(-50%);
  }
  .features-card {
    width: fit-content;
  }
  .features-card p {
    font-size: 14px;
  }
  .features-card p span {
    display: block;
    font-size: 16px;
  }
  .features-card:not(:last-child) {
    border-bottom: 2px solid white;
  }
  .procedures-container {
    margin-top: 580px;
  }
  .procedures-container h1 {
    margin-bottom: 25px;
  }
  .procedures-container > h1,
  .contact-us > h1 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 20px;
  }
  .contact-us > h1 {
    margin-bottom: 10px;
  }
  .procedure-cards {
    gap: 40px;
  }
  .procedure-card {
    padding: 0;
  }
  .procedure-card .img {
    margin-left: 4px;
  }
  .pro-mobile {
    gap: 20px;
  }
  .pro-mobile .img {
    margin-left: 0;
  }
  .procedure-card h1 {
    font-size: 12px;
  }
  .procedure-card .h1 {
    margin-top: 5px;
    font-size: 16px;
  }
  .procedure-card p {
    margin: 0;
    font-size: 14px;
  }
  .procedure-card .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pro-mobile {
    display: flex;
    align-items: center;
  }
  .menu-container h1 {
    max-width: 100%;
    font-size: 22px;
    line-height: 24px;
  }
  .menu-container p {
    font-size: 12px;
    line-height: 14.4px;
  }
  .contact-us form {
    grid-template-columns: 1fr;
  }
  .contact-us button {
    margin: 30px auto;
    max-width: 95%;
    width: 100%;
  }
  .footer > div {
    flex-direction: column;
    padding: 10px 20px;
  }
  .footer .mobile {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .links h1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 19.17px;
  }
  .footer .links {
    gap: 20px;
  }
  .footer li {
    line-height: 25px;
    font-size: 12px;
  }
  .footer .social-media {
    gap: 0;
  }
  .social-media span:not(:first-child) {
    margin-left: -10px;
  }
  .footer .mobile p {
    margin: 8px 0;
    font-size: 12px;
    line-height: 30.9px;
    text-align: center;
  }
  .social-media span {
    width: 50px;
  }
  .social-media span {
    margin-left: -7px;
  }
  .social-media img {
    width: 60px;
  }
  .footer .copyright {
    padding: 20px;
  }
  .copyright p {
    font-size: 12px;
  }
}
